{
  "presets": ["react", "es2015", "stage-1"],

  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "transform-es3-property-literals",
    "transform-es3-member-expression-literals",
    "transform-es5-property-mutators"
  ],

  "env": {
    "development": {
      "plugins": [
        "typecheck",
        "add-module-exports",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals",
        "transform-es5-property-mutators",
        ["react-transform", {
            "transforms": [{
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
        }]
      ]
    }
  }
}
