.caculation {
  width: 100%;
  height: 464px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1001;
  .left{
    float: left;
    width: 210px;
    height: 100%;
    position: relative;
    .mask{
      position: absolute;
      width: 220px;
      height: 100%;
      z-index: 1000;
      top:0;
      left: 0;
      background: #000;
      opacity: .6;
      filter:alpha(opacity=60);
      -moz-opacity:.6;
    }
  }
  .shadow{
    height: 100%;
    width: 10px;
    float: left;
    opacity: 0.04;
    filter:alpha(opacity=4);
    -moz-opacity:0.04;
    background-image: linear-gradient(-270deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  }
  .right{
    float: right;
    background: #F9FAFB;
    width: 521px;
    height: 100%;
    position: relative;
    overflow: hidden;
    .btnClose {
      position: absolute;
      left: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}
.forCalculation {
  font-size: 14px; 
  .caculationList {
    height: 410px;
    position: relative;
    width: 100%;
    overflow: auto;
  }
  .title {
    line-height: 45px;
    font-size: 16px;
    color: #333333;
    text-align: center;
    border-bottom: solid 1px #ebebeb;
  }
  p {
    color: #333;
    margin: 0;
    line-height: 24px; 
  }
  .detail {
    border-top: 1px solid #D3D6DA;
    margin-top: 40px;
    padding-top: 10px;
  }
  .table {
    width: 100%;
  }
  .table thead th {
    background: #7F6259;
    color: #FFF;
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF; 
  }
  .table tbody td {
    background: #FFF7E6;
    color: #333;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF; 
  }
  a {
    color: #007aff;
    margin-top: 5px;
  }
}
.red {
  color: #f1453d;
}
.wrap {
  padding: 10px;
  background: #FFF;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
}
.calTitle {
  background: #F27F79;
  color: #FFF;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  text-indent: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; 
  margin-top: 10px;
}
.calContent {
  margin-top: 1px;
  background: #F27F79;
  color: #FFF;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 40px;
  line-height: 40px;
  text-align: center; 
}
