.payBlock {
	position: fixed;
	width: 490px;
	height: 280px;
	top: 600px;
	left: 50%;
	margin-left: -55px;
	background: url(../../../assets/opacitybg.png);
	border-top: 1px solid #CCC;
	.title {
		position: relative;
		margin: 0 10px;
		height: 44px;
		line-height: 44px;
		color: #333;
		font-size: 14px;
		font-weight: bold;
		border-bottom: 1px solid #CCC;
		em {
			color: #F3200B;
			font-size: 18px;
			margin: 0 5px;
		}
	}
	.consume {
		position: relative;
		margin: 0 10px;
		height: 44px;
		line-height: 44px;
		color: #333;
		font-size: 14px;
		border-bottom: 1px solid #CCC;
		em {
			color: #F3200B;
			margin: 0 5px;
			font-weight: normal;
		}
		.fr {
			float: right;
			color: #999;
		}
	}
	.otherPay {
		.title {
			font-size: 14px;
			font-weight: normal;
			border-bottom: none;
			em {
				font-size: 14px;
				font-weight: normal;
			}
		}
		.ulList {
	      .item {
	        border: 1px solid #999;
	        border-radius: 4px;
	        font-size: 16px;
	        margin-right: 20px;
	        float: left;
	        line-height: 36px;
	        height: 37px;
	        width: 98px;
			margin-left: 10px;
	        text-align: center;
	        margin-bottom: 10px;
	        a {
	          display: block;
	          color: #333;
	          background: #FFF;
	          border-radius: 4px;
	        }
	        .input {
	          width: 88px;
	          height: 26px;
	          padding: 4px;
	          background: #F9FAFB;
	          border: 0;
	          color: #999999;
	          border-radius: 4px;
	        }
	      }
	      .item.type {
	        width: 118px;
	      }
	      .item img{
	        width: 116px;
	        margin: 0 auto;
	        height: 34px;
	        vertical-align: middle;
	      }
	      .item.active{
	        border: 1px solid #0299CD;
	        border-radius: 4px;
	        a{
	          color: #0299CD;
	        }
	      }
	    }
	}
	.btnCheck {
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: -3px;
		margin-right: 5px;
		cursor: pointer;
		background: url(../../../assets/btn_select.png) no-repeat;
		&.active {
			background: url(../../../assets/btn_select_a.png) no-repeat;
		}
	}
	.paySelect {
	}
	.payCode {
		display: none;
		.btnBack {
			position: absolute;
			left: 10px;
			top: 10px;
			font-size: 12px;
			color: #0299CD;
			z-index: 101;
		}
		.qtitle,p {
			text-align: center;
			width: 100%;
			line-height: 20px;
		}
		.desc {
			color: #999;
			margin-bottom: 10px;
		}
		.qtitle {
			line-height: 20px;
			margin-top: 10px;
		}
		img {
			width: 120px;
			height: 120px;
			display: none;
		}
		.codeImg {
			width: 100%;
			height: 130px;
			text-align: center;
		}
		.payNum {
			text-align: center;
			font-size: 14px;
			color: #333;
			em {
				font-size: 20px;
				color: #F3200B;
				margin-right: 5px;
			}
		}
		.btnBottom {
			width: 90%;
			margin-top: 10px;
			padding-top: 6px;
			margin-left: 5%;
			border-top: 1px solid #ccc;
		}
		.btn {
			width: 80px;
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}

.btnBottom {
	text-align: center;
	margin-top: 20px;
	a {
		color: #0299CD;
	}
	.btn{
		display: inline-block;
	    transform: scale(1);
	    margin-top: 8px;
	    margin-right: 25px;
	    margin-left: 50px;
	    background: #038FFF;
	    background-image: linear-gradient(-180deg, #0DB4FF 0%, #038FFF 100%);
	    border: 1px solid #B1BECA;
	    box-shadow: inset 0px -2px 6px 0px rgba(255,255,255,0.60);
	    border-radius: 4px;
	    width: 120px;
	    line-height: 24px;
	    text-align: center;
	    color: #FFF703;
	    font-size: 12px;
	    &:hover {
	    	color: #FFF703;
	    }
	    &.normal {
	    	color: #FFF;
	    }
	}
}
.mask{
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  background: #000;
}
.content{
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  .result {
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -120px;
    margin-left: -100px;
    width: 240px;
    height: 240px;
    background: #FFF;
    border-radius: 10px;
    text-align: center;
    h3 {
    	font-size: 16px;
    	color: #333;
    	margin-top: 10px;
    	line-height: 30px;
    }
    p {
    	margin: 0;
    	font-size: 12px;
    	line-height: 20px;
    	color: #999;
    }
    .btn {
    	width: 90px;
    	margin: 0 10px;
    }
  }
  .imgResult {
  	position: relative;
  	margin: auto;
  	margin-top: 40px;
  	width: 64px;
  	height: 64px;
  	background: url(../../../assets/img_joinsuccessed.png);
  }
  .imgResultFail {
  	position: relative;
  	margin: auto;
  	margin-top: 40px;
  	width: 64px;
  	height: 64px;
  	background: url(../../../assets/img_joinfail.png);
  }
  .img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
  }
  .p{
    font-size: 16px;
    color: #fff;
    line-height: 80px;
    text-align: center;
  }
}
