.swiper {
	position: absolute;
	width: 250px;
	height: 250px;
	margin: auto;
	top: 50%;
	margin-top: -145px;
	overflow: hidden;
	img {
		max-width: 250px;
	}
	ul,li {
		margin: 0;
		padding: 0;
	}
	ul {
		display: block;
		width: 5000px;
	}
	.item {
		li {
			display: block;
			float: left;
			width: 250px;
		}
	}
}
:global {
	.point {
		position: absolute;
		width: 290px;
		height: 10px;
		bottom: 15px;
		left: 0;
		text-align: center;
		li {
			display: inline-block;
			width: 6px;
			height: 6px;
			margin: 3px;
			background: #CCC;
			border-radius: 50%;
			cursor: pointer;
			&.active {
				background: #0299CD;
			}
		}
	}

}
.btnBack {
	position: absolute;
	left: 10px;
	top: 10px;
}
.title {
	padding: 10px;
	h3 {
		font-size: 16px;
		color: #333;
		line-height: 22px;
		margin-bottom: 10px;
	}
	p.desc {
		font-size: 12px;
		color: #ED7979;
		line-height: 20px;
		margin-bottom: 10px;
	}
	.bar {
	    position: relative;
	    background: #D5DDE3;
	    background-image: linear-gradient(0deg, #D5DDE3 0%, #A8BDCD 99%);
	    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.33);
	    border-radius: 12px;
	    width: 100%;
	    height: 8px;
	    .active{
	      position: absolute;
	      left: 0;
	      top:0;
	      height: 8px;
	      background: #2FC1DF;
	      background-image: linear-gradient(0deg, #018DD0 0%, #2FC1DF 100%);
	      box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.33);
	      border-radius: 14px;
	    }
	}
	.number {
		font-size: 12px;
		color: #999;
		line-height: 30px;
		em {
			font-style: normal;
			color: #0066AC;
			font-weight: normal;
		}
	}
}
.codes {
	position: relative;
	margin: 10px;
	margin-top: 10px;
	background: #EBEBEB;
	padding: 10px;
	border-radius: 3px;
	clear: both;
	p {
		position: relative;
		width: 420px;
		padding-left: 65px;
		font-size: 12px;
		color: #333;
		margin: 0;
		line-height: 18px;
		span.title {
			position: absolute;
			display: block;
			float: left;
			width: 65px;
			left: 0;
			top: 0;
			padding: 0;
		}
		i {
			font-style: normal;
			color: #0066AC;
			margin-right: 4px;
		}
		em {
			display: inline-block;
			word-wrap:break-word;
			margin-right: 8px;
			font-weight: normal;
		}
	}
	.showMore {
		position: absolute;
		font-size: 12px;
		color: #0299CD;
		right: 10px;
		bottom: 11px;
	}
}
.countdown {
	position: relative;
	clear: both;
	width: 431px;
	height: 60px;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	background: url(../../assets/bg_itemcounting.png) no-repeat;
	p {
		font-size: 14px;
		color: #FFF;
		line-height: 30px;
		margin: 0;
	}
	h3 {
		font-size: 18px;
		color: #FFF;
		line-height: 20px;
		margin: 0;
		font-weight: normal;
	}
}
.winner {
	position: relative;
	width: 430px;
	height: 172px;
	margin: auto;
	margin-top: -10px;
	background: url(../../assets/bg_bingoinfobg.png) no-repeat;
	.userPic {
		position: absolute;
		width: 72px;
		height: 50px;
		text-align: center;
		left: 20px;
		top: 20px;
		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
		&:after {
			width: 72px;
			height: 21px;
			left: 0;
			bottom: 0;
			position: absolute;
			content: " ";
			background: url(../../assets/img_bingolable.png) center center no-repeat;
			background-size: 100% auto;
		}
	}
	h4 {
		padding-top: 15px;
	}
	h4,p {
		padding-left: 100px;
		color: #333;
		font-weight: normal;
		line-height: 18px;
		font-size: 12px;
	}
	.winnerName {
		color: #5393E0;
	}
	.red {
		color: #ef4835;
	}
	.luckyNum {
		color: #FFF;
		padding: 0 10px;
		font-size: 14px;
		line-height: 36px;
		a {
			color: #FFF;
			font-size: 12px;
		}
	}
}
.goodsDisabeld {
	position: relative;
	margin: 10px;
	margin-top: 20px;
	background: #EBEBEB;
	height: 40px;
	line-height: 40px;
	color: #999;
	text-align: center;
	border-radius: 3px;
}
.tabNav {
	position: relative;
	border-bottom: 2px solid #0191D3;
	height: 24px;
	padding-left: 10px;
	clear: both;
	a {
		font-size: 12px;
		position: relative;
		padding: 0 15px;
		display: block;
		float: left;
		height: 24px;
		line-height: 24px;
		text-align: center;
		color: #0066AC;
		margin-left: 3px;
		background: url(../../assets/bg_segment.png) center top no-repeat;
		&:before {
			display: block;
			content: ' ';
			position: absolute;
			left: 0;
			top: 0;
			width: 15px;
			height: 24px;
			background: url(../../assets/bg_segment.png) left top no-repeat;
		}
		&:after {
			display: block;
			content: ' ';
			position: absolute;
			right: 0;
			top: 0;
			width: 15px;
			height: 24px;
			background: url(../../assets/bg_segment.png) right top no-repeat;
		}
		&.active {
			color: #FFF;
			height: 30px;
			background: url(../../assets/bg_segment_a.png) center top no-repeat;
			&:before {
				background: url(../../assets/bg_segment_a.png) left top no-repeat;
			}
			&:after {
				background: url(../../assets/bg_segment_a.png) right top no-repeat;
			}
		}
	}
}
.detail {
	position: relative;
	width: 100%;
	margin-top: 0;
}
.btnBottomArea {
	position: fixed;
	width: 492px;
	height: 44px;
	top: 422px;
	left: 50%;
	margin-left: -55px;
	background: rgba(255,255,255,0.9);
	border-top: 1px solid #EEE;
	.btn{
		display: inline-block;
        transform: scale(1);
        margin-top: 8px;
        margin-right: 15px;
        background: #038FFF;
        background-image: linear-gradient(-180deg, #0DB4FF 0%, #038FFF 100%);
        border: 1px solid #B1BECA;
        box-shadow: inset 0px -2px 6px 0px rgba(255,255,255,0.60);
        border-radius: 4px;
        width: 80px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        &.active {
        	color: #FFF703;
        }
        &.left,&.right {
        	width: auto;
        	padding: 0 10px;
        	width: 20px;
        	float: left;
        	font-size: 24px;
        	height: 24px;
        	line-height: 22px;
        	margin-right: 0;
        	font-weight: normal;
        }
        &.left {
        	border-top-right-radius: 0;
        	border-bottom-right-radius: 0;
        }
        &.right {
        	border-top-left-radius: 0;
        	border-bottom-left-radius: 0;
        }
        &.all {
        	margin-right: 0;
        	width: auto;
        	padding: 0 10px;
        	width: 30px;
        	margin-left: 10px;
        	float: left;
        }
      }
      span {
      	line-height: 42px;
		font-weight: normal;
		color: #333;
		padding-left: 10px;
		padding-right: 10px;
      }
	  input {
	  	float: left;
	  	width: 60px;
	  	font-size: 14px;
	  	color: #333;
	  	height: 24px;
	  	padding: 0;
	  	line-height: 24px;
	  	text-align: center;
	  	margin-top: 8px;
	  	margin-left: -1px;
	  	margin-right: -1px;
	  	border: 1px solid #B1BECA;
	  	border-left: none;
	  	border-right: none;
	  }
}