.mine{
  width: 741px;
  height: 464px;
  background: #fff;
  .left{
    float: left;
    width: 210px;
    height: 100%;
    position: relative;
    .mask{
      position: absolute;
      width: 220px;
      height: 100%;
      z-index: 1000;
      top:0;
      left: 0;
      background: #000;
      opacity: .6;
      filter:alpha(opacity=60);
      -moz-opacity:.6;
    }
    .avatar{
      margin: 30px auto 10px;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      border: 1px solid #0299CD;
      img{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transform: scale(1);
      }
      img:hover{
        transform: scale(1.1);
      }
    }
    .name{
      font-size: 18px;
      color: #033668;
      line-height: 25px;
      text-align: center;
    }
    .desc{
      text-align: center;
      font-size: 14px;
      color: #333333;
      line-height:20px;
      margin-top: 10px;
    }
    .navList{
      line-height: 50px;
      width: 160px;
      margin: 20px auto 0;
      .li1{
        border-top: solid 1px #ebebeb;
        border-bottom: solid 1px #ebebeb;
      }
      .li2{
        border-bottom: solid 1px #ebebeb;
      }
      .linkClass{
        display: block;
      }
      .iconList{
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin: 0 20px;
      }
      .em{
        margin-left: 20px;
        width: 24px;
        height: 24px;
        background: #F24957;
        font-size: 14px;
        border-radius: 100%;
        line-height: 24px;
        text-align: center;
        color: #fff;
      }
    }
  }
  .shadow{
    height: 100%;
    width: 10px;
    float: left;
    opacity: 0.04;
    filter:alpha(opacity=4);
    -moz-opacity:0.04;
    background-image: linear-gradient(-270deg, rgba(0,0,0,0.00) 0%, #000000 100%);
  }
  .right{
    float: right;
    background: #F9FAFB;
    width: 521px;
    height: 100%;
    .linkList{
      padding: 50px 32px 0;
    }
    .li{
      float: left;
      width: 132px;
      margin-right: 25px;
      margin-bottom: 30px;
    }
    .li.noMargin{
      margin-right: 0;
    }
    .icon{
      width: 132px;
      height: 132px;
      background-size: cover;
    }

    .join{
      background:url(../../assets/ic_joinlist.png) no-repeat;
    }
    .lucky{
      background:url(../../assets/ic_luckylist.png) no-repeat;

    }
    .address{
      background:url(../../assets/ic_addresslist.png) no-repeat;
    }
    .payRecord{
      background:url(../../assets/ic_paylist.png) no-repeat;

    }
    .intro{
      background:url(../../assets/ic_introduction.png) no-repeat;

    }
    .linkClass{
      display: block;
      transform: scale(1);
    }
    .linkClass:hover{
      transform: scale(1.1);
    }
    .linkText{
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      color: #333333;
    }
  }
  .content{
    padding: 0 10px;
    .close{
      position: relative;
      top: 11px;
      float: left;
      width: 24px;
      height: 24px;
    }
    .title{
      line-height: 45px;
      font-size: 16px;
      color: #333333;
      text-align: center;
      border-bottom: solid 1px #ebebeb;
    }
    .paragraph{
      padding: 10px;
      border-bottom: solid 1px #ebebeb;
      width: 481px;
      position: relative;
    }
    .scroll{
      height: 418px;
      top:0;
      right: -9px;
    }
    .rechargeRecord{
      .reLeft{
        float: left;
        width: 271px;
      }
      .reRight{
        float: left;
        width: 200px;
        text-align: right;
      }
      height: 59px;
      .type{
        font-size: 14px;
        color: #333333;
        line-height: 20px;
      }
      .desc{
        margin-top: 5px;
        font-size: 12px;
        color: #aaa;
        line-height: 17px;
      }
      .money{
        font-size: 14px;
        color: #333;
        line-height: 59px;
      }
    }
    .goodsName{
      font-size: 14px;
      color: #333333;
      line-height: 20px;
      height: 40px;
      margin-bottom: 5px;
    }
    .goodsDesc{
      font-size: 12px;
      color: #999;
      line-height: 17px;
      height: 17px;
      padding-bottom: 10px;
      border-bottom: solid 1px #ebebeb;
    }
    .textBlue{
      color: #0299CD;
    }
    .id{
      width: 159px;
    }
    .joinNumber{
      width: 148px;
    }
    .goodsStatus{
      line-height: 48px;
      font-size: 14px;
      color: #999;
    }
    .goodsBtn{
      transform: scale(1);
      margin: 9px 0;
      text-align: center;
      padding: 0 18px;
      height: 26px;
      line-height: 26px;
      display: block;
      font-size: 12px;
      color: #FFFFFF;
      background:#038FFF;
      background-image: linear-gradient(-180deg, #0DB4FF 0%, #038FFF 100%);
      border: 1px solid #B1BECA;
      box-shadow: inset 0px -2px 6px 0px rgba(255,255,255,0.60);
      border-radius: 4px;
    }
    .goodsBtn:hover{
      transform: scale(1.1);
    }
    .frame{
      height:418px;
      overflow:hidden
    }
    .logic{
      font-size: 14px;
      color: #999999;
      margin-bottom: 5px;
      .name{
        color: #333333;
      }
    }

    .system{
      .systemTitle{
        line-height: 22px;
        font-size: 16px;
        color: #333333;
        margin-bottom: 5px;
        .time{
          float: right;
          font-size: 14px;
          color: #999999;
          font-weight: normal;
        }

      }
      .desc{
        font-size: 14px;
        color: #999999;
        line-height: 20px;
      }
      .slucky{
        img{
          width: 80px;
          height: 80px;
          display: inline-block;
          *display:inline;
          *zoom: 1;
        }
        .sendDesc{
          width: 390px;
          font-size: 14px;
          color: #999999;
          margin-left: 10px;
          line-height: 20px;
          vertical-align: top;
          display: inline-block;
          *display:inline;
          *zoom: 1;
        }
      }
    }
    .logicDesc{
      font-size: 14px;
      color: #999999;
      line-height: 20px;
    }
    .luckyList{
      .luckyLeft{
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 15px;
        .coverImg{
          width: 100%;
          height: 100%;
          display: block;
          cursor: pointer;
          transform: scale(1);
        }
        .coverImg:hover{
          transform: scale(1.1);
        }
      }
      .luckyRight{
        float: right;
        width: 375px;

      }
    }
    .joinNav{
      width: 213px;
      margin: 0 auto;
      li{
        float: left;
        font-size: 16px;
        a{
          color: #999;
          display: block;
          height: 42px;
        }
      }
      .active a{
        color: #033668;
        border-bottom: 4px solid #033668;
      }
      .rMargin{
        margin-right: 40px;
      }

    }
    .addressList{
      height: 340px;
      overflow: hidden;
      .item{
        padding: 10px 0;
        font-size: 14px;
        color: #333;
        border-bottom: 1px solid #ebebeb;
        .default{
          color: #32BB48;
        }
        .check{
          width: 35px;
          float: left;
          img{
            width: 20px;
            height: 20px;
            vertical-align: top;
          }
        }
        .desc{
          line-height: 20px;
          font-size: 14px;
          margin-bottom: 5px;
          .name{
            color: #0066AC;
          }
          .phone{
            color: #999999;
            float: right;
            margin-right: 10px;
          }
        }
        .aLeft{
          width: 415px;
          float: left;
          margin-right: 5px;
        }
        .sLeft{
          width: 380px;
          float: left;
          margin-right: 5px;
        }
        .aRight{
          text-align: center;
          float: left;
          color: #0299CD;
          border-left: 1px solid #d3d6da;
          line-height: 40px;
          width: 80px;
          .edit{
            width: 18px;
            height: 18px;
            margin-left: 5px;
            position: relative;
            top: 3px;
          }
        }
      }
    }
    .addressList.alist{
      height: auto;
    }
    .addressForm{
      .control{
        margin-top: 20px;
        line-height: 40px;
      }
      .label{
        width: 83px;
        margin-right: 10px;
        font-size: 14px;
        color: #333333;
        text-align: right;
        display: block;
        float: left;
      }
      .formControl{
        border: 1px solid #D3D6DA;
        border-radius: 4px;
        line-height: 18px;
        font-size: 14px;
        padding: 10px;
        width: 360px;
      }
      .formTextArea{
        height: 36px;
      }
      .selectControl{
        border: 1px solid #D3D6DA;
        border-radius: 4px;
        line-height: 18px;
        font-size: 14px;
        padding: 10px;
        width: 120px;
        margin-right: 10px;
        color: #666;
      }
      .offset{
        margin-left: 93px;
        display: block;
        .default{
          .image{
            vertical-align: middle;
            margin-right: 5px;
            position: relative;
            top: -1px;
          }
          font-size: 14px;
          color: #333333;
          line-height: 40px;
        }
      }
    }
    .secondContent{
      padding: 20px 10px;
      .item{
        float: left;
        width: 80px;
        line-height: 20px;
        color: #333;
        font-size: 14px;

      }
    }
  }
  .blockRecharge{
    padding: 0 10px;
    .h3{
      line-height: 20px;
      margin-top: 20px;
      font-size: 14px;
      color: #333333;
    }
    .ulList{
      margin-top: 10px;
      .item{
        border: 1px solid #999999;
        border-radius: 4px;
        font-size: 16px;
        margin-right: 20px;
        float: left;
        line-height: 36px;
        height: 36px;
        width: 98px;
        text-align: center;
        margin-bottom: 10px;
        a{
          display: block;
          color: #999;
        }
        .input{
          width: 88px;
          height: 26px;
          padding: 4px;
          background: #F9FAFB;
          border: 0;
          color: #999999;
          border-radius: 4px;
          text-align: center;
        }
      }
      .item.type{
        width: 118px;
      }
      .item img{
        width: 116px;
        margin: 0 auto;
        height: 34px;
        vertical-align: middle;
      }
      .item.active{
        border: 1px solid #0299CD;
        border-radius: 4px;
        a{
          color: #0299CD;
        }
      }

    }

  }
  .blockBtn{
    border-top: 1px solid #ebebeb;
    margin-top: 20px;
    text-align: center;
    .btn{
      transform: scale(1);
      margin: 20px auto;
      text-align: center;
      width: 120px;
      height: 26px;
      line-height: 26px;
      display: block;
      font-size: 12px;
      background:#038FFF;
      background-image: linear-gradient(-180deg, #0DB4FF 0%, #038FFF 100%);
      border: 1px solid #B1BECA;
      box-shadow: inset 0px -2px 6px 0px rgba(255,255,255,0.60);
      border-radius: 4px;
    }
    .btn:hover{
      transform: scale(1.1);
    }
    .pay{
      color: #FFF703;
    }
    .addressBtn{
      color: #fff;
    }
  }
  .selectAddressBtn{
    margin-top: 0;
    border: 0;
  }
  .payRecordMsg{
    line-height: 60px;
  }
  .selectAddressBar{
    height: 340px;
    top: 0;
    right: -5px;
  }
  .won{

    line-height: 28px;
    margin: 10px 0 0;
    font-size: 14px;
    color: #999;
    .time{
      font-size: 20px;
      color: #F24957;
    }
    img{
      position: absolute;
      left: 10px;
      top: 75px;
    }
    .goodsBtn{
      margin: 0 auto;
    }
    .going{
      font-size: 12px;
      color: #999999;
      line-height: 14px;
      margin-top: 5px;
      .last{
        color: #033668;
      }
    }
  }

  .bar {
    position: relative;
    background: #D5DDE3;
    background-image: linear-gradient(0deg, #D5DDE3 0%, #A8BDCD 99%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.33);
    border-radius: 12px;
    width: 305px;
    height: 8px;
    .active {
      position: absolute;
      left: 0;
      top: 0;
      height: 8px;
      background: #2FC1DF;
      background-image: linear-gradient(0deg, #018DD0 0%, #2FC1DF 100%);
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.33);
      border-radius: 14px;
    }
  }
  .mHelp{
    ul{
      li{
        line-height: 44px;
        border-bottom: 1px solid #D3D6DA;
        .helpTitle{
          display: block;
          font-size: 16px;
          color: #333333;
          cursor: pointer;
          &:before{
            margin: 0 5px 0 10px;
            position: relative;
            top: -1px;
            display: inline-block;
            *display:inline;
            *zoom:1;
            width: 5px;
            height: 10px;
            vertical-align: middle;
            background: url(../../assets/ic_arrow_grey.png);
            content:' '
          }
        }
        :global{
          .helpActive{
            color:#0299CD;
            &:before{
              background: url(../../assets/ic_arrow_blue.png);
            }
          }
        }
        .helpContent{
          img{
            margin: 0 auto;
            width: 400px;
            height: 260px;
            display: block;
          }
          display: none;
          background: #eee;
          line-height: 24px;
          font-size: 13px;
          padding: 10px 10px 10px 20px;
          border-top: solid 1px #D3D6DA;
        }
      }
    }
  }
  .payContent{
    padding: 20px;
    border-bottom: solid 1px #ebebeb;
    text-align: center;
    .payTitle{
      font-size: 14px;
      color: #333333;
      line-height: 20px;
    }
    .payDesc{
      font-size: 12px;
      color: #999999;
      line-height: 20px;
    }
    .payQrcode{
      width: 160px;
      height: 160px;
      display: inline-block;
      margin: 10px 0 15px;
    }
    .payMoney{
      font-size: 14px;
      color: #333333;
      line-height: 28px;
      em{
        font-weight: normal;
        font-size: 20px;
        color: #F3200B;
      }
    }
  }
  .payFoot{
    margin-top: 20px;
    text-align: center;
    .button{
      width: 80px;
      height: 26px;
      display: inline-block;
      *display:inline;
      *zoom:1;
      line-height: 26px;
      font-size: 12px;
      color: #fff;
      text-align: center;
      background:#038FFF;
      background-image: linear-gradient(-180deg, #0DB4FF 0%, #038FFF 100%);
      border: 1px solid #B1BECA;
      box-shadow: inset 0px -2px 6px 0px rgba(255,255,255,0.60);
      border-radius: 4px;
      transform: scale(1);
      &:hover{
        transform: scale(1.1);
      }
      &.single{
        color: #FFF703;
        margin-right: 18px;
      }
    }
  }
  .rechargeAlert{
    text-align: center;
    .successImg{
      width: 64px;
      height: 64px;
      display: inline-block;
      margin-top: 20px;
    }
    .failImg{
      width: 64px;
      height: 64px;
      display: inline-block;
    }
    .alertDesc{
      font-size: 16px;
      color: #333333;
      margin-top: 10px;
      line-height: 22px;
    }
    .alertInro{
      font-size: 12px;
      color: #999999;
      line-height: 14px;
    }
  }
}