.mine{
  width: 741px;
  height: 464px;
  background: #fff;
  .left{
    float: left;
    width: 220px;
    height: 100%;
  }
  .right{
    float: right;
    background: #F9FAFB;
    width: 511px;
    height: 100%;
    .linkList{
      padding: 50px 40px 0;
      .li{

      }
    }
    .linkClass{
      display: block;
    }
    .linkText{
      line-height: 20px;
      text-align: center;
      font-size: 14px;
      color: #333333;
    }
  }
}