.navBar {
  width: 100%;
  margin-top: 20px;
  li{
    height: 50px;
    line-height: 50px;
    margin-left: 4px;
    .tap{
      vertical-align: middle;
      margin-right: 15px;
      width: 24px;
      height: 24px;
      position: relative;
      top: -2px;
    }
  }
  .nav.active{
    color: #033668;
    background: #F9FAFB;
    font-weight: bold;
    border: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    position: relative;
    z-index: 10;
  }
  .nav{
    padding-left: 13px;
    height: 52px;
    display: block;
    color: #0066AC;
    border-top:solid 1px #cdcdcd\9;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 0px 1px 0px 0px #CDCDCD,inset 0px 2px 0px 0px #FFF;
  }
  .last{
    border-bottom:solid 1px #cdcdcd\9;
    box-shadow: inset 0px 1px 0px 0px #CDCDCD,inset 0px 2px 0px 0px #FFF,inset 0px -1px 0px 0px #fff,inset 0px -2px 0px 0px #cdcdcd;
  }
  @media screen and (min-width:0\0) {
    .nav {
      border-top:0;
    }
    .last{
      border-bottom:0;
    }
  }

  .tap0{
    background: url(../../assets/ic_tap1.png) no-repeat;
  }
  .tap1{
    background: url(../../assets/ic_tap2.png) no-repeat;

  }
  .tap2{
    background: url(../../assets/ic_tap3.png) no-repeat;

  }
  .nav.active .tap0{
    background: url(../../assets/ic_tap1_a.png) no-repeat;

  }
  .nav.active .tap1{
    background: url(../../assets/ic_tap2_a.png) no-repeat;

  }
  .nav.active .tap2{
    background: url(../../assets/ic_tap3_a.png) no-repeat;

  }
}
