.section{
  width: 735px;
  padding: 6px 6px 8px 0;
  .content {
    background: #fff;
    border-radius: 6px;
    width: 100%;
    height: 450px;
  }
  .homeList{
    padding: 10px 0 0 10px;
    position: relative;
    .frame{
      height: 430px;
      overflow-y: auto;
    }
    .list{
      width: 100%;
      .item{
        float: left;
        cursor: pointer;
        background: #EBEBEB;
        border: 1px solid #E7E8E9;
        box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.25);
        border-radius: 8px;
        width: 330px;
        height: 120px;
        margin: 0 3px 3px 0;
        padding: 10px;
        position: relative;
        .left{
          float: left;
          width: 118px;
          height: 118px;
          border: 1px solid #0299CD;
          border-radius: 8px;
          overflow: hidden;
          background: #fff;
          .coverImg{
            width: 100%;
            height: 100%;
            display: block;
            transform: scale(1)
          }
          .coverImg:hover{
            transform: scale(1.1);
          }
        }
        .right{
          float: left;
          width: 200px;
          margin-left: 10px;
          .name{
            font-size: 14px;
            color: #0066AC;
            line-height: 20px;
            margin-bottom: 5px;
            height: 40px;
          }
          .bar{
            position: relative;
            background:#D5DDE3;
            background-image: linear-gradient(0deg, #D5DDE3 0%, #A8BDCD 99%);
            box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.33);
            border-radius: 12px;
            width: 200px;
            height: 8px;
            .active{
              position: absolute;
              left: 0;
              top:0;
              height: 8px;
              background: #2FC1DF;
              background-image: linear-gradient(0deg, #018DD0 0%, #2FC1DF 100%);
              box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.33);
              border-radius: 14px;
            }
          }
          .p{
            font-size: 12px;
            color: #666666;
            line-height: 17px;
          }
          .blue{
            color: #06c;
          }
          .label{
            position: absolute;
            width: 70px;
            height: 70px;
            top:0;
            left: 0;
          }
          .btn{
            transform: scale(1);
            margin-top: 15px;
            background: url(../../assets/img_timer.png) no-repeat;
            background-size: cover;
            width: 142px;
            height: 34px;
            line-height: 34px;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 2px;
            position: relative;
            right: -10px;
            .time{
              margin-left: 40px;
              text-align: left;
            }
          }
          /*.btn:hover{
            transform: scale(1.1);
            background-size: cover;
          }*/
        }
      }
      .item.odd{

      }
      .item.even{
        margin-right: 0;
      }
    }
  }

}

.homeDetail{
  width: 741px;
  height: 464px;
  background: #fff;
  .left{
    float: left;
    width: 290px;
    height: 100%;
  }
  .right{
    float: left;
    background: #F9FAFB;
    width: 451px;
    height: 100%;
  }
}